* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
	background-color: #F3F5FC;
	font-family: 'Inter';
}

main {
	flex: row;
	margin: 40px;
}

header {
	background-color:#010508;
	color: white;
	display: flex;
	position: relative;
	align-items: center;
	height: 80px;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	padding-left: 40px;
}

footer {
	background-color:#010508;
	color: white;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	padding: 20px;
	bottom: 0px;
}

h2, p {
	text-align: center;
}

p{
	font-weight: lighter;
	color: #495057;
}

textarea::placeholder, :focus, textarea{
	color: #0A3871;
	font-size: 20px;
    border: 0 none;
    outline: 0;
	background: none;
	height: 288;
	width: 680px;
	resize: none;
	height: 321px;
	width: 680px;
}

.info{
	color: #495057;
}

.img-side {
	height: 304px;
	width: 336px;
}

.img-logo{
	padding: 10px;
	
}

.container-encrypt{
	display: flex;
	flex-direction: column;
	padding:20px;
	margin: 0 0 0 228px;
	height: 900px;
	width: 680px;
}

.content-encrypt {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	text-align: justify;
}

.container-decrypt{
	display: flex;
	z-index: 1000;
	background-color: white;
	position: absolute;
	align-items: center;
	top: 40px;
	right: 40px;
	bottom: 40px;
	height: 944px;
	width: 400px;
	border-radius: 32px;
	box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 10px;
}

.content-decrypt{
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.container-text{
	display: flex;
	flex-direction: column;
	height: 122px;
	width: 336px;
	padding: 30px;
	align-items: center;
	justify-content: center;
	row-gap: 8px;
}

.content-decrypt-new{
	display: flex;
	width: 400px;
	height: 944px;
	flex-direction: column;
	padding: 20px;
}

.text-decrypt{
	font-size: 24;
	color: #495057;
	max-height: 930px;
	max-width: 350px;
	padding: 5px;
	margin: 5px;
	flex-grow: 1;
}

.subtitle{
	font-size: 12px;
	margin-top: 10px;
	padding:8px;
}
.btn-container{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	gap: 24px;
}

.btn-encrypt {
	background-color: #0A3871;
	color: #ffffff; 
	padding: 24px;
	height: 67px;
	width: 328px;
	border-radius: 24px;
	border: 1px solid #0A3871;
	font-size: 16px;
}

.btn-decrypt {
	background-color: #D8DFE8;
	color: #0A3871;
	padding: 24px;
	height: 67px;
	width: 328px;
	border-radius: 24px;
	border: 1px solid #0A3871;
	font-size: 16px;
}
