* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
	background-color: #E5E5E5;
}

main {
	display: flex;
	flex: row;
	margin: 40px;
}

header {
	display: flex;
	position: relative;
	align-items: center;
	height: 80px;
	width: 100%;
	font-size: 30px;
	color: white;
	font-weight: bold;
	background-color:#010508;
	padding-left: 40px;
}

footer {
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color:#010508;
	color: white;
	font-weight: bold;
	padding: 20px;
	bottom: 0px;
}

h2 {
	text-align: center;
}

p{
	font-weight: lighter;
	color: #5b5b68;
}

textarea::placeholder, :focus, textarea{
	color: darkblue;
	font-size: 20px;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
	background: none;
	width: 680px;
	
}

.img-side {
	height: 304px;
	width: 336px;
}

.img-logo{
	padding: 10px;
	
}

.container{
	max-width: 100%;

}

/* .container-encrypt{
	
}

.container-decrypt{

} */


.content-encrypt {
	display: flex;
	width: max-content;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 168px;
	background-color: #6bd1ff;
}

.container-decrypt{
	z-index: 1000;
	position: absolute;
	top: 40px;
	right: 40px;
	bottom: 80px;
	background-color: white;
	height: 944px;
	width: 400px;
	border-radius: 32px;
	box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 10px;
	justify-items: center;
	align-items: center;
}

.content-decrypt{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: white;
}

.container-text{
	display: flex;
	flex-direction: column;
	height: 122px;
	width: 336px;
	padding: 20px;
	gap: 10%;
	align-items: center;
	justify-content: center;
}

.btn-encrypt {
	background-color: darkblue;
	color: #ffffff; 
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}

.btn-decrypt {
	background-color: #D8DFE8;
	color: darkblue;
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}