* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
	background-color: #E5E5E5;
}

main {
	display: flex;
	flex: row;
	background-color: aquamarine;
	margin: 40px;
}

header {
	
	margin: 40px;
	font-size: 20px;
	background-color: white;
}

footer {
	margin-top: 40px;
}

textarea::placeholder, :focus, textarea{
	color: darkblue;
	font-size: 20px;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
	background: none;
	height: auto;
	width: auto;
}


.container-encrypt .container-decrypt{
	display: flex;
	flex-direction: column;
}

.content-encrypt {
	justify-content: space-between;
	margin: 0 0 0 168px;
	background-color: green;
}

.content-decrypt{
	background-color: white;
	justify-content: space-between;
	height: 944px;
	width: 400px;
	border-radius: 32px;
}

.btn-encrypt {
	background-color: darkblue;
	color: #ffffff; 
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}

.btn-decrypt {
	background-color: #D8DFE8;
	color: darkblue;
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}