* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
	background-color: #E5E5E5;
}

main {
	display: flex;
	flex: row;
	margin: 40px;
}

header {
	margin: 40px;
	font-size: 20px;
	background-color: white;
}

footer {
	margin-top: 10px;
}

textarea::placeholder, :focus, textarea{
	color: darkblue;
	font-size: 20px;
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
	background: none;
	width: 680px;
	
}

img {
	height: 304px;
	width: 336px;
}

.container-encrypt{
	display: flex;
	flex-direction: column;
}

.content-encrypt {
	justify-content: space-between;
	margin: 0 0 0 168px;
	background-color: green;
}

.content-decrypt{
	background-color: white;
	height: 944px;
	width: 400px;
	border-radius: 32px;
	box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.content-text{
	height: 122px;
	width: 336px;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}

.btn-encrypt {
	background-color: darkblue;
	color: #ffffff; 
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}

.btn-decrypt {
	background-color: #D8DFE8;
	color: darkblue;
	padding: 10px;
	width: 328px;
	border-radius: 24px;
	border: 2px solid darkblue;
	font-size: 16px;
}